
resource keygen 'Microsoft.Resources/deploymentScripts@2020-10-01' = if (autogeneratePasswordsAndKeys) {
  name: 'keygen'
  location: location
  kind: 'AzureCLI'
  properties: {
    azCliVersion: '2.37.0'
    timeout: 'PT2H'
    retentionInterval: 'P1D'
    cleanupPreference: 'OnSuccess'
    scriptContent: '''
      #/bin/bash -e
      
      ssh-keygen -f "key"  -N ""

      cat <<EOF >$AZ_SCRIPTS_OUTPUT_PATH
      {
        "adminSshPublicKey": "$(cat key.pub)",
        "adminSshPrivateKey": "$(cat key)",
        "adminPassword": "$(openssl rand -base64 24)",
        "slurmAccountingAdminPassword": "$(openssl rand -base64 24)"
      }
      EOF

    '''
  }
}

var adminSshPublicKey = (autogeneratePasswordsAndKeys ? reference('keygen').outputs.adminSshPublicKey : adminSshPublicKeyParam)
var adminSshPrivateKey = (autogeneratePasswordsAndKeys ? reference('keygen').outputs.adminSshPrivateKey : adminSshPrivateKeyParam)
var adminPassword = (autogeneratePasswordsAndKeys ? reference('keygen').outputs.adminPassword : adminPasswordParam)
var slurmAccountingAdminPassword = (autogeneratePasswordsAndKeys ? reference('keygen').outputs.slurmAccountingAdminPassword : slurmAccountingAdminPasswordParam)

